@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');


* {
  background-image: url(https://d2lchq0n03yu65.cloudfront.net/statics/2021-10-06/images/texture-bottom.jpg);
  background-position: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IM Fell DW Pica', serif;
  color: #d5d5d5;
  
}

.p{
  text-align: left;
  font-size: 120%;
  padding-left: 15px;

}

.container {
  max-width: 63%;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid #d5d5d5;
  padding: 30px;
  border-radius: 5px;
}

.result-container {
  max-width: 100%;
  margin-left: 30px ;
  margin-right: 30px ;
  overflow: auto;
  max-height: 100%;
  border: 1px solid #d5d5d5;
  padding: 30px;
  border-radius: 5px;
  height: 762px;
}

.header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;

}

.btn {
  width: 32%;
  display: inline-block;
  background: #ffb10f;
  color: #272624;
  border: none;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
  font-family: inherit;
}

.btn:hover{
    color: #d5d5d5;
}

.btn-calculate{
  width: 40%;
  display: inline-block;
  background: #bbaa86;
  color: #272624;
  border: none;
  padding: 20px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
  font-family: inherit;


}

.btn-calculate:hover{
  color: #d5d5d5;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 245px;
  height: 70px;
  padding: 1em;
  text-align: center;
  background: #ffb10f;
  color: #272624;
  border-radius: .8em;
  cursor: pointer;
  white-space: normal;
  overflow: hidden;
  z-index: 1;

  
}

.card:hover{
  color: #d5d5d5;
}

.card:focus{
  color:green;
}

.cover{
  display:inline-block;
  place-items: center;
  position: relative;
  width: 255px;
  height: 80px;
  border-radius: 1em;
  background: linear-gradient(50deg, #2a5a3b,#1e4886);
  overflow: hidden;
  padding:5px;
  margin: 5px;

}

.selectedCover{
  display: inline-flex;
  place-items: center;
  position: relative;
  width: 255px;
  height: 80px;
  border-radius: 1em;
  background: linear-gradient(50deg, #00ff59,#02b3ff);
  overflow: hidden;
  padding:5px;
  margin: 5px;
}


.leftDiv{
  text-align: center;

  background-color: #efefef;
  color: #000;
  height: 400px;
  width: 73%;
  float: left;
  }

.rightDiv{
  text-align: center;

   background-color: #efefef;
   color: #000;
   height: 400px;
   width: 25%;
   float: right;
   }
   
.cover::before{
  content: "";
  position: absolute;
  width: 450px;
  height: 35px;
  top: 0;
  right: 35px;
  transition: 1.9s;
  background: linear-gradient(50deg, #00ff59,#02b3ff);
  transform: rotate(-45deg) translate(0,-100px);
}
.cover:hover:before{
  animation: cardEffect 1.9s;
}

@keyframes cardEffect {
  100%{
    transform:rotate(-45deg) translate(0,450px)
  }
  
}

.btn.selected {
  border-left: 5px solid green;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  width: 210px;
  background: #9e947e;
  border-radius: 5px;
  margin: 10px;
  padding: 5px 5px;
  cursor: pointer;
  border: none; 
  

}

#under{
  margin-left: 100px;
  margin-right: 100px;

  display:inline-flex;
  overflow: auto;
  flex-wrap: wrap;


}
.rhead{
  padding-bottom: 15px;
  color: #9e947e;
}
.flux{
width: 73%;
text-align: center;
align-self: flex-end;
}




.task h3 {
  width: 100%;
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
}

.type-select {
  width: 250px;
  height: 100px;
  display: inline-block;
  background: #ffb10f;
  color: #272624;
  border: none;
  padding: 20px;
  margin: 5px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
  font-family: inherit;
}

.type-select:focus {
  outline: none;
}

.type-select:active {
  transform: scale(0.98);
}



.add-form {
  margin: auto;
  align-self: center;
  margin-bottom: 1px;

}

.form-control {
  margin: 20px ;
  border: 1px solid #d5d5d5;
  text-decoration: none;
  font-size: 24px;
  font-family: inherit;
}

.form-control label {
  display: block;
}

.form-control input {
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;

}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}


#wrapper{
  overflow:auto;
}
.unique-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 36px;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.unique-card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.unique-card:focus{
  color:green;
}


.result-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.result-card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.dropdown.active > .result-card,
.result-card:hover{
  color:#ffb10f;
}

.dropdown{
  position:relative;
}

.dropdown-menu{
  position:absolute;
  left: 0;
  top: calc(100% + .25rem);
  background: #353535;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 regba(0,0,0.1);
  width: 100%;
  font-size: 33px;
  opacity: 0;
  line-height: 175%;
  transform: translateY(-10px);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}



.dropdown.active > .result-card + .dropdown-menu{
  opacity: 1 ;
  transform: translateY(0);
}




button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}